@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #293264;
}

/* Intro page */
.container {
  width: 70%;
  height: 100%;
  background: #F5F7FB;
  display: flex;
  flex-direction: column;
  margin: 0 auto ;
}

.top-blob { 
  background-image: url("./assets/top-blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 25vh;
  
}

button{
  cursor: pointer;
}

.bottom-blob {
  background-image: url("./assets/bottom-blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  width: 100%;
  height: 25vh;
}

.main-intro {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  height: 35vh;
}

.intro-head {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.313rem;
  margin-bottom: 0.5rem;
}

.intro-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  margin-top: 0.5rem;
}

.intro-head, .intro-text {
  color: #293264;
}

.start-btn {
  width: 12rem;
  height: 3.25rem;
  background: #4D5B9E;
  border: 0;
  border-radius: 1rem;
  margin-inline: auto;
  margin-top: 0.8rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #F5F7FB;
}

/* Quiz page */
.quiz {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  color: #293264;
  text-align: start;
}

.hr {
  border-bottom: 0.794239px solid #DBDEF0;
  margin: 2% 30% 3% 0;
}

.question-container {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
}

.question {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  margin: 0 0 2% 0;
}

.answers {
  display: flex;
  gap: .75rem;
}

.answer-btn {
  border: 0.05rem solid #4D5B9E;
  border-radius: 0.496rem;
  text-align: center;
  /* width: 15%; */
  /* width: 65.92px; */
  height: 4vh;
  padding-inline: 1rem;
  /* height: 4vh; */
  font-family: 'Inter';
  font-weight: 500;
  font-size: 0.64rem;
  line-height: 0.75rem;
}

.selected {
  background: #D6DBF5;
}

.check-answers {
  width: 7.5rem;
  height: 2.188rem;
  margin: 3%  auto ;
  padding: 0;
  background: #4D5B9E;
  border-radius: 10px;
  border: 0;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
}



@media screen and (min-width: 920px) {

  .container {
    width: 50%;
  }

}

@media screen and (max-width: 680px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .question-container {
    margin-inline: 4%;
  } 
  .answers {
    display: grid;
    grid-template-columns: auto auto;
  }
  .answer-btn {
    height: 5vh;
  }
  .check-answers {
    width: 7.5rem;
    height: 2.188rem;
    margin: 3%  auto ;
    padding: 0;
    
  }
}