@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #293264;
}

/* Intro page */
.container {
  width: 70%;
  height: 100%;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.top-blob {
  background-image: url("./assets/top-blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 20vh;
}

button {
  cursor: pointer;
}

.bottom-blob {
  background-image: url("./assets/bottom-blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  width: 100%;
  height: 20vh;
}

.main-intro {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  height: 50vh;
}

.intro-head {
  font-family: "Karla";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.313rem;
  margin-bottom: 0.5rem;
}

.intro-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  margin-top: 0.5rem;
}

.intro-head,
.intro-text {
  color: #293264;
}

.start-btn {
  width: 12rem;
  height: 3.25rem;
  background: #4d5b9e;
  border: 0;
  border-radius: 1rem;
  margin-inline: auto;
  margin-top: 0.8rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #f5f7fb;
}

/* Quiz page */
.quiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #293264;
  /* text-align: start; */
}

.hr {
  border-bottom: 0.794239px solid #dbdef0;
  margin: 2% 0 3% 0;
}

.question-container {
  margin-inline: 7%;
  display: flex;
  flex-direction: column;
}

.question {
  font-family: "Karla";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  margin: 0 0 2% 0;
}

.answers {
  display: flex;
  gap: 1rem;
}

.answer-btn {
  display: flex;
  background: #f5f7fb;
  border: 0.05rem solid #4d5b9e;
  border-radius: 0.496rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: auto;
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.64rem;
  line-height: 0.75rem;
  max-width: 35%;
  flex: auto;
}

.selected {
  background: #d6dbf5;
}

.correct {
  background: #94d7a2;
}

.wrong {
  background: #f8bcbc;
}

.check-answers,
.play-again {
  width: 7.5rem;
  height: 2.188rem;
  margin: auto;
  padding: 0;
  background: #4d5b9e;
  border-radius: 10px;
  border: 0;
  font-family: "Inter";
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #f5f7fb;
}

.play-again-container {
  /* display: inline-flex; */
  text-align: center;
  margin: 1%;
}

.userScore {
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #293264;
  margin-inline: 4%;
}

@media screen and (max-width: 740px) {
  .container {
    width: 100%;
  }

  .answer-btn {
    max-width: none;
  }
}
@media screen and (max-width: 520px) {
  .container {
    width: 100%;
  }

  .question-container {
    margin-inline: 4%;
  }

  .answers {
    display: grid;
    grid-template-columns: auto auto;
  }

  .question {
    font-size: 1.3rem;
    line-height: normal;
  }

  .answer-btn {
    font-size: 0.8rem;
    max-width: none;
  }
}

/* The loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #293264;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
